<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.runehou.cleanoutloud">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/col_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecyclingListActivity" />
        <activity android:name=".Events" />
        <activity android:name=".Map" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".WallActivity" />
        <activity android:name=".AddMessageActivity" />
        <activity android:name=".CommentsActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/MyAppTheme"></activity>
    </application>

</manifest>